<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>expense tracker</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid px-5">
          <a class="navbar-brand text-dark fs-2" href="/">家庭記帳本</a>
          <div class="text-end">
            <a href="/users/logout" class="btn btn-primary">登出</a>
          </div>
        </div>
      </nav>
    </header>

    {{{body}}}
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
  </body>
</html>